header{
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, rgb(red, rgb(blue))), ; 

#logo{
    border-radius: 10px;
    align:'center'
}
@font-face{
    font-family:'hokia';
    src: url('Hokia-Regular.ttf') format('truetype');
}

.titulo-principal{
    postion:absolute;
    text-align: center;
    top: 18%;
    left: 50%;
    transform: translate(-0%, -15%);
    font-size: 45px;
    font-family: 'hokia', sem serifa;
    font-family:Barlow;
}

img{
    height: 300px;
    width: 300px;
}